<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="../static/style.css" rel="stylesheet" type="text/css">
        <TITLE>Info</TITLE>
    </head>

    <body>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="upload.html">Upload</a></li>
            <li><a class="active" href="info.html">Info</a></li>
        </ul>

        <div style="width:85%;padding:20px;">
                <h2>Information on how this application is supposed to be used can be found here.</h2>
            <h3>OR keywords</h3>
                The OR keywords are the keywords of which at least one has to be in the PubMed articles.
                The OR keywords can be added in the OR input field. The keywords have to be separated by commas.
                To add multiple OR statements click on the button 'Click to add more OR input fields'.
                These OR input fields can be removed by clicking on the button 'Click to remove the last OR input field' which removes the input field that has been added most recently. <br><br>
            <h3>AND keywords</h3>
                The AND keywords are the keywords that all have to be in the PubMed articles.
                The AND keywords can be added in the AND input field. The keywords have to be separated by commas. <br><br>
            <h3>NOT keywords</h3>
                The NOT keywords are the keywords that are not allowed to be in the PubMed articles.
                The NOT keywords can be added in the NOT input field. The keywords have to be separated by commas. <br><br>
            <h3>Gene names</h3>
                The gene names are the names of the genes that will be searched for in the PubMed articles.
                The gene names can added in the gene names input field. The genes have to be separated by commas. <br><br>
            <h3>Publication date</h3> <!--- Error als er geen
            resultaten zijn na een bepaalde datum, niet ingevoerd =
            alle resultaten krijgen--->
                A publication date can be given by clicking on the calendar icon and selecting a date or by typing the date in the input field.
                The chosen date is the earliest date for which PubMed articles will be searched. <br><br>
            <h3>Gene panel</h3> <!--- Error als er geen
            resultaten bij een verkeerd bestand, en is verplicht,
            moet excel file zijn--->
                The gene panel selection are the names of the gene panels that will be compared with the genes that have been found.
                The gene panels can be added in the gene panel input field. The gene panels have to be separated by commas. <br><br>
            <h3>E-mail</h3>
                An e-mail has to be added for NCBI to send an e-mail to incase of overloading.
                The e-mail can be added in the e-mail input field. <br><br>
            <h3>Results</h3> <!--- Er wordt gefilterd op datum --->
                Results are shown after the button 'Search for PubMed articles' has been clicked.
                Firstly a list of all the specified filters is shown.
                After that a table will be shown with the found genes, the title of the PubMed article with a link to that article, the publication date and potentially the gene panels the gene is in.
                The results can be converted to a file by selecting one of the file extensions and clicking the button 'Save results'.
        </div>
    </body>
</html>