<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="../static/style.css" rel="stylesheet" type="text/css">
        <meta charset="UTF-8">
        <title>Upload</title>
    </head>
    <body>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a class="active" href="upload.html">Upload</a></li>
            <li><a href="info.html">Info</a></li>
        </ul>

        <form action="http://127.0.0.1:5000/upload_genepanel.html"
              method="POST"
              enctype="multipart/form-data">
            <br><label>Enter a genepanel Excel file:</label><br><br>
            <input type="file" name="genepanel_file" accept=".xlsx"
                   size="50"/><br><br>
            <button name="submit" type="submit">Submit
                file</button><br><br>
            <label>File saved successfully!</label><br><br>
        </form>
    </body>
</html>