<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webapp</title>
    <meta name="Margo Raijmakers" content="WebApp HTML" charset="UTF-8">
    <link rel="stylesheet" href="/static/WebApp.css">
    <TITLE>Home</TITLE>
    <ul>
        <li><a class="active" href="WebApp.html">Home</a></li>
        <li><a href="info.html">Info</a></li>
    </ul>
</head>
<body>
    <form method="post">
        <p>
            Ziekte kenmerken <br>
            <label>
                <input type="text" name="or_search">
            </label> (of)<br>
            &<br>
            <label>
                <input type="text" name="and_search">
            </label> (en)<br>
            &<br>
            <label>
                <input type="text" name="not_search">
            </label> (niet)<br>
        </p>

        <p>
            Gennaam (split gennamen op ',') (optioneel) <br>
            <label>
                <input type="text" name="gene_search">
            </label><br>
        </p>

        <p>
            Publicatie datum (vanaf) (optioneel) <br>
            <label>
                <input type="date" name="date_search">
            </label><br>
        </p>

        <p>
            Genpanel selectie (optioneel) <br>
            <label>
                <input type="text" name="genepanel_search">
            </label><br>
        </p>

        <input type="submit">

        <button type="button" onclick="showResults()">Laat resultaten zien</button>
        <div id="results"></div>
        <script>function showResults() {
            document.getElementById("results").innerHTML =
                "<hr>" +
                "Ingevoerde filters <br>" +
                "Ziekte kenmerken (of): {{ or_search }} <br>" +
                "Ziekte kenmerken (en): {{ and_search }} <br>" +
                "Ziekte kenmerken (niet): {{ not_search }} <br>" +
                "Gennaam: {{ gene_search }} <br>" +
                "Publicatie datum: {{ date_search }} <br>" +
                "Genpanel selectie: {{ genepanel_search }} <br>" +
                "<hr>" +
                "<table id='table' style='width:100%'>" +
                    "<tr>" +
                        "<th>Gennaam</th>" +
                        "<th>Titel artikel</th>" +
                        "<th>Publicatiedatum</th>" +
                        "<th>Genpanel</th>" +
                    "</tr>" +
                    <!-- todo: loop met resultaten -->
                    "<tr>" +
                        "<td>AARS1</td>" +
                        "<td>Naam+hyperlink</td>" +
                        "<td>10-04-2020</td>" +
                        "<td>Neuropathies</td>" +
                    "</tr>" +
                "</table>";
        }
        </script>
    </form>
</body>
</html>